<ion-header no-border>
  <ion-navbar color="main">
    <div *ngIf="response == 'Success'">
    </div>
    <div *ngIf="response == 'GettingData'">
    </div>
    <div *ngIf="response == 'Failed'">
    </div>
    <div *ngIf="response == 'Error'">
    </div>
    <div *ngIf="response == 'NotLogin'">
    </div>
    <ion-buttons left>
      <button ion-button clear class="delete-button" (click)="deleteAllDataConfirm()" *ngIf="response == 'Success'"><ion-icon name="md-trash" color="white"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button clear class="refresh-button" (click)="doRefresh()"><ion-icon name="md-refresh" color="white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar class="ion-searchbar" [(ngModel)]="terms"></ion-searchbar>
</ion-header>
<ion-content class="ion-content-wishlist">
  <div *ngFor="let data of data | searchw : terms; let i = index;">
    <div *ngIf="response == 'Success' && data.length !== 0">
      <ion-card class="card-wishlist" (press)="pressEvent(data)">
        <ion-grid>
          <ion-row>
            <ion-col col-3 id="col-4">
              <div>
                <img onerror="this.onerror=null;this.src='assets/main/img_not_available.png';" src="https://cors-anywhere.herokuapp.com/http://jabarbasithme.com/senao/upload/foto/mapel/{{ data.foto_mapel }}" class="wishlist-image">
              </div>
            </ion-col>
            <ion-col col-4 id="center-text">
              <div>
                <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap; padding-left: 10%;"><strong>Date & Time : </strong></p>
                <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap; padding-left: 10%;"><strong>Name : </strong></p>
                <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap; padding-left: 10%;"><strong>Price : </strong></p>
              </div>
            </ion-col>
            <ion-col col-5 id="center-text">
              <div>
                <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap;">{{ data.tgl_transaksi | date: 'short' }}</p>
                <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap;">{{ data.nama_mapel }}</p>
                <ng-container *ngIf="data.harga > 0; then showprice; else showfree"></ng-container>
                <ng-template #showprice>
                  <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap;">{{ data.harga | currency:'IDR ':true:'1.2-2' }}</p>
                </ng-template>
                <ng-template #showfree>
                  <p style="text-align: left; color: #222; font-size: 11px; white-space: nowrap;">Free</p>
                </ng-template>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div>
                <div *ngIf="data.stat == 'Sudah Verifikasi'">
                  <p style="text-align: center; color: #222; font-size: 11px; white-space: nowrap;"><strong>Status</strong></p>
                  <p style="text-align: center; text-transform: none; color: #6ba743; white-space: nowrap;">{{ data.stat }}</p>
                </div>
                <div *ngIf="data.stat !== 'Sudah Verifikasi'">
                  <p style="text-align: center; color: #222; font-size: 11px; white-space: nowrap;"><strong>Status</strong></p>
                  <p style="text-align: center; text-transform: none; color: #cb3434; white-space: nowrap;">{{ data.stat }}</p>
                </div>
              </div>
            </ion-col>
            <ion-col col-6>
              <div>
                <div *ngIf="data.stat == 'Sudah Verifikasi'">
                  <button disabled ion-button outline color="darkblue" class="button-payment"><p style="text-align: center; text-transform: none; color: #004570;"><strong>Purchased</strong></p></button>
                </div>
                <div *ngIf="data.stat !== 'Sudah Verifikasi'">
                  <button ion-button outline color="darkblue" class="button-payment" (click)="goToPayment({ record: data })"><p style="text-align: center; text-transform: none; color: #004570;"><strong>Payment</strong></p></button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <div *ngIf="data.length > 0">
    <div *ngIf="(data | searchw: terms).length === 0">
      <div id="data-search-not-found-image-middle-position">
        <img src="assets/main/search_data_not_found.png">
      </div>
    </div>
  </div>
  <div *ngIf="response == 'NotLogin'">
    <div id="not-login-image-middle-position">
      <img src="assets/main/not_login.png" class="image-response-not-login">
      <button ion-button color="darkblue" class="button-response-not-login-action" (click)="doSignIn()"><p style="text-transform: capitalize;"><strong>Sign In</strong></p></button>
    </div>
  </div>
  <div *ngIf="response == 'Failed'">
    <div id="data-not-found-image-middle-position">
      <img src="assets/main/data_not_found.png">
    </div>
  </div>
  <div *ngIf="response == 'Error'">
    <div id="data-error-image-middle-position">
      <img src="assets/main/new_rto_background.png">
      <button ion-button color="darkblue" class="button-response-action" (click)="ionViewWillEnter()"><p style="text-transform: capitalize;"><strong>Try Again</strong></p></button>
    </div>
  </div>
  <div *ngIf="response == 'GettingData'">
    <div class="skeleton-loader">
      <ion-card class="card-wishlist">
        <ion-grid>
          <ion-row>
            <ion-col col-3 id="col-4-no-border">
              <div>
                <img class="p-0">
              </div>
            </ion-col>
            <ion-col col-4 id="center-text">
              <div>
                <img class="p-1">
                <img class="p-2">
                <img class="p-3">
              </div>
            </ion-col>
            <ion-col col-5 id="center-text">
              <div>
                <img class="p-4">
                <img class="p-5">
                <img class="p-6">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="border-divider">
        <div>
          <div *ngIf="response == 'Success'">
            <p style="text-align: center; color: #000; font-size: 13px; white-space: nowrap;"><strong>{{ itemTotal }}</strong></p>
            <p style="text-align: center; color: #757575; font-size: 10px; white-space: nowrap;"><strong>{{ itemText }}</strong></p>
          </div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div>
          <div *ngIf="response == 'Success'">
            <p style="text-align: center; color: #000; font-size: 13px; white-space: nowrap;"><strong>IDR {{ priceTotal }}</strong></p>
            <p style="text-align: center; color: #757575; font-size: 10px; white-space: nowrap;"><strong>Total</strong></p>
          </div>
          <div *ngIf="response == 'GettingData'">
            <p style="text-align: center; color: transparent; font-size: 13px; white-space: nowrap;"><strong>IDR</strong></p>
            <p style="text-align: center; color: transparent; font-size: 10px; white-space: nowrap;"><strong>Total</strong></p>
          </div>
          <div *ngIf="response == 'Failed'">
            <p style="text-align: center; color: transparent; font-size: 13px; white-space: nowrap;"><strong>IDR</strong></p>
            <p style="text-align: center; color: transparent; font-size: 10px; white-space: nowrap;"><strong>Total</strong></p>
          </div>
          <div *ngIf="response == 'Error'">
            <p style="text-align: center; color: transparent; font-size: 13px; white-space: nowrap;"><strong>IDR</strong></p>
            <p style="text-align: center; color: transparent; font-size: 10px; white-space: nowrap;"><strong>Total</strong></p>
          </div>
          <div *ngIf="response == 'NotLogin'">
            <p style="text-align: center; color: transparent; font-size: 13px; white-space: nowrap;"><strong>IDR</strong></p>
            <p style="text-align: center; color: transparent; font-size: 10px; white-space: nowrap;"><strong>Total</strong></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>