<ion-header no-border>
  <ion-navbar>
    <ion-title><small>Courses Detail</small></ion-title>
    <ion-buttons end>
      <button ion-button clear class="refresh-button" (click)="ionViewWillEnter()"><ion-icon name="md-refresh" color="white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<body class="body-content-acdetail">
  <ion-card class="ion-card-acdetail">
    <div *ngFor="let data of data; let i = index;">
      <div *ngIf="response == 'Success'">
        <img onerror="this.onerror=null;this.src='assets/main/img_not_available.png';" src="https://cors-anywhere.herokuapp.com/http://jabarbasithme.com/senao/upload/foto/mapel/{{ data.foto }}" class="image-circle">
        <ion-grid id="title-header-detail-content">
          <ion-row>
            <ion-col>
              <p style="text-align: center; color: black; text-transform: capitalize; font-size: 15px;"><strong>{{ data.nama }}</strong></p>
              <div *ngFor="let statusCourseTransactionByUser of courseTransactionData">
                <div *ngIf="responseStatus == 'Found'">
                  <ng-container *ngIf="statusCourseTransactionByUser.id_siswa == userid; then sameuseriddata; else notsameuseriddata"></ng-container>
                  <ng-template #sameuseriddata>
                    <ng-container *ngIf="statusCourseTransactionByUser.status == 'Sudah Verifikasi'; then verifiedStatus; else notVerfiedStatus"></ng-container>
                    <ng-template #verifiedStatus>
                      <ng-container *ngIf="data.jenis_pembayaran == 'BUY'; then showBuyDataWhereLoginSameUserID; else showFreeDataWhereLoginSameUserID"></ng-container>
                      <ng-template #showBuyDataWhereLoginSameUserID>
                        <p style="text-align: center; color: #6ba743; text-transform: capitalize; font-size: 13px;"><strong>Purchased</strong></p>
                      </ng-template>
                      <ng-template #showFreeDataWhereLoginSameUserID>
                        <p style="text-align: center; color: #6ba743; text-transform: capitalize; font-size: 13px;"><strong>Subscribed</strong></p>
                      </ng-template>
                    </ng-template>
                    <ng-template #notVerfiedStatus>
                      <ng-container *ngIf="data.jenis_pembayaran == 'BUY'; then showBuyDataWhereLoginSameUserID; else showFreeDataWhereLoginSameUserID"></ng-container>
                      <ng-template #showBuyDataWhereLoginSameUserID>
                        <p style="text-align: center; color: #cb3434; text-transform: capitalize; font-size: 13px;"><strong>Not Verified</strong></p>
                      </ng-template>
                      <ng-template #showFreeDataWhereLoginSameUserID>
                        <p style="text-align: center; color: #cb3434; text-transform: capitalize; font-size: 13px;"><strong>Not Verified</strong></p>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                  <ng-template #notsameuseriddata>
                  </ng-template>
                </div>
              </div>
              <div *ngIf="responseStatus == 'NotFound'">
                <div *ngIf="data.jenis_pembayaran == 'BUY'">
                  <div *ngIf="status == 'Sudah Verifikasi'; then purchased else buy"></div>
                  <ng-template #purchased>
                    <p style="text-align: center; color: #6ba743; text-transform: capitalize; font-size: 13px;"><strong>Purchased</strong></p>
                  </ng-template>
                  <ng-template #buy>
                    <p style="text-align: center; color: #727272; text-transform: capitalize; font-size: 13px;"><strong>{{ price | currency:'IDR ':true:'1.2-2' }}</strong></p>
                  </ng-template>
                </div>
                <div *ngIf="data.jenis_pembayaran == 'FREE'">
                  <div *ngIf="status == 'Sudah Verifikasi'; then subscribed else free"></div>
                  <ng-template #subscribed>
                    <p style="text-align: center; color: #6ba743; text-transform: capitalize; font-size: 13px;"><strong>Subscribed</strong></p>
                  </ng-template>
                  <ng-template #free>
                    <p style="text-align: center; color: #727272; text-transform: capitalize; font-size: 13px;"><strong>FREE</strong></p>
                  </ng-template>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <p style="text-align: right; padding-right: 5%; margin-top: -17%;"><button ion-button outline color="darkblue" class="right-see-courses-button" (click)="goToCourses({ record: data })"><p style="text-transform: capitalize; color: #004570;"><strong>Start Courses</strong></p></button></p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <h2 class="background"><span>Other Action This Courses</span></h2>
        </div>
        <div id="center-button">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div>
                  <button ion-button clear icon-only (click)="doLike()">
                    <ion-icon name="md-thumbs-up" color="darkgrey"></ion-icon>
                  </button>
                  <button ion-button clear icon-only (click)="doDislike()">
                    <ion-icon name="md-thumbs-down" color="darkgrey"></ion-icon>
                  </button>
                </div>
              </ion-col>
              <ion-col col-6>
                <div *ngIf="data.jenis_pembayaran == 'BUY'">
                  <button ion-button color="darkblue" class="wishlist-button" (click)="doAddWishlist()">
                    <p style="text-transform: capitalize; color: #FFF; text-align: center;"><strong>Add to Wishlist</strong></p>
                  </button>
                </div>
                <div *ngIf="data.jenis_pembayaran == 'FREE'">
                  <button ion-button color="darkblue" class="wishlist-button" (click)="doAddWishlist()">
                    <p style="text-transform: capitalize; color: #FFF; text-align: center;"><strong>Add to Wishlist</strong></p>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div *ngIf="response == 'GettingData'">
      <div class="skeleton-loader">
        <img class="skeleton-image-circle">
          <ion-grid id="title-header-detail-content">
            <ion-row>
              <ion-col>
                <img class="p-0">
                <img class="p-1">
              </ion-col>
              <ion-col>
                <img class="p-2">
              </ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <img class="p-3">
          </div>
          <div id="center-button">
            <button ion-button class="skeleton-wishlist-button"></button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <img class="skeleton-button-feedback-courses">
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img class="skeleton-button-comments-courses">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
    <div *ngIf="response == 'Failed'">
      <div id="data-not-found-image-middle-position">
        <img src="assets/main/data_not_found.png">
      </div>
    </div>
    <div *ngIf="response == 'Error'">
      <div id="data-error-image-middle-position">
        <img src="assets/main/new_rto_background.png">
        <button ion-button color="darkblue" class="button-response-action" (click)="ionViewWillEnter()"><p style="text-transform: capitalize; color: white;"><strong>Try Again</strong></p></button>
      </div>
    </div>
  </ion-card>
</body>