page-rpassword {

    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: #FFF;
          }
        }
    }

    strong{
        color: map-get($colors, darkblue);
    }

    ion-title{
        text-align: center;
        padding-right: 52px;
    }

    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, #FFF);
    }

    input[type=password]{
        background-image: url('../../assets/main/ic_lock.png');
        background-repeat: no-repeat;
        border: 2px solid #FFF;
        background-position: 17px 12px;
        background-size: 24px 22px;
        border-radius: 5px;
        height: 50px;
        width: 90%;
        padding-left: 57px;
    }

    #reset-password-instructions{
        margin-top: 95%;
    }

    #password-form{
        text-align: center;
    }

    #button-reset-password{
        margin-top: 15%;
    }

    .body-content-reset-password{
        background-color: #0fc7d3;
        background-image: url('../../assets/main/reset_password_background.png');
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: 100% 50%;
    }

    .button-reset-password{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}