page-fpassword {

    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: #FFF;
          }
        }
    }

    ion-title{
        text-align: center;
        padding-right: 52px;
    }

    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, #FFF);
    }

    input[type=email]{
        background-image: url('../../assets/main/ic_envelope.png');
        background-repeat: no-repeat;
        border: 2px solid #FFF;
        background-position: 17px 12px;
        background-size: 24px 22px;
        border-radius: 5px;
        height: 50px;
        width: 90%;
        padding-left: 57px;
    }

    #forgot-password-instructions{
        margin-top: 10%;
    }

    #email-form{
        margin-top: 90%;
        text-align: center;
    }

    #forgot-password-instructions{
        margin-top: 17px;
    }

    #button-check-email{
        margin-top: 15%;
    }

    #button-go-to-reset-password{
        margin-top: 5%;
    }

    .body-content-forgot-password{
        background-color: #0fc7d3;
        background-image: url('../../assets/main/new_forgot_password_background.png');
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: 100% 50%;
    }

    .button-reset-password{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .button-check-email{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

}