<ion-header no-border>
  <ion-navbar color="main">
    <ion-title><small>Account</small></ion-title>
    <ion-buttons left>
      <button ion-button clear class="refresh-button" (click)="goToModalSettings()"><ion-icon name="md-settings" color="white"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button clear class="refresh-button" (click)="doRefresh()"><ion-icon name="md-refresh" color="white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<body class="body-content-account">
  <div *ngIf="response == 'Error' || response === 'undefined' || response === ''">
    <div>
      <img class="header-background">
    </div>
    <div>
      <ion-card class="ion-card-account-header-if-not-login">
        <img src="assets/main/rto_background.png" class="image-in-card-if-not-login">
        <ion-item id="button-current-card" (click)="doRefresh()">
          <p style="text-align: center; color: #FFF; text-transform: capitalize;">Try Again</p>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <div *ngIf="response == 'Null' || response == 'Failed'">
    <div>
      <img class="header-background">
    </div>
    <div>
      <ion-card class="ion-card-account-header-if-not-login">
        <img src="assets/main/background_not_login.png" class="image-in-card-if-not-login">
        <ion-item id="button-current-card" (click)="goToSignIn()">
          <p style="text-align: center; color: #FFF; text-transform: capitalize;">Sign In</p>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <div *ngIf="response == 'Success'">
    <div>
      <img class="header-background">
    </div>
    <div *ngFor="let data of data">
      <ion-card class="ion-card-account-header-if-login">
        <img onerror="this.onerror=null;this.src='assets/main/user.png';" src="https://cors-anywhere.herokuapp.com/http://jabarbasithme.com/senao/upload/foto/siswa/{{ data.foto }}" class="image-circle-header">
        <button ion-button clear class="button-edit-account" (click)="goToChangeProfile({ record: data })"><img src="assets/main/icon_edit.png" class="icon-edit"></button>
        <button ion-button clear class="button-sign-out" (click)="doSignOut()"><p style="color: red; text-transform: capitalize; text-align: center; font-size: 13px;"><strong>Sign Out</strong></p></button>
        <div id="account-content-header">
          <p style="text-align: center; color: black; font-size: 20px; white-space: normal;"><strong>{{ data.nama_siswa }}</strong></p>
          <p style="text-align: center; color: grey; font-size: 10px; margin-top: -5px;">{{ data.nim }}</p>
        </div>
        <div id="account-content-main">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div>
                  <p style="text-align: center; color: grey; font-size: 10px;"><ion-icon name="md-mail"></ion-icon> Email Address</p>
                  <p style="text-align: center; color: black; font-size: 13px;"><strong>{{ data.email }}</strong></p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <p style="text-align: center; color: grey; font-size: 10px;"><ion-icon name="md-quote"></ion-icon> Your Testimoni</p>
                  <ng-container *ngIf="data.testimoni == 'undefined' || data.testimoni == null || data.testimoni == ''; then showNoPost; else showPost"></ng-container>
                  <ng-template #showNoPost>
                    <p style="text-align: center; color: black; font-size: 13px;"><strong>No Posts Yet</strong></p>
                  </ng-template>
                  <ng-template #showPost>
                    <p style="text-align: center; color: black; font-size: 13px;"><strong>{{ data.testimoni }}</strong></p>
                  </ng-template>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </div>
  </div>
  <div *ngIf="response == 'GettingData'">
    <div>
      <img src="assets/main/account_header_background.png" class="header-background">
    </div>
    <div class="skeleton-loader">
      <ion-card class="ion-card-account-header-if-login">
        <img class="skeleton-image-circle-header">
        <button ion-button clear class="button-edit-account"><img class="skeleton-icon-edit"></button>
        <button ion-button clear class="button-sign-out"><img class="p-0"></button>
        <div id="account-content-header">
          <img class="p-1">
          <img class="p-2">
        </div>
        <div id="account-content-main">
          <img class="p-3">
          <img class="p-4">
        </div>
      </ion-card>
    </div>
  </div>
</body>