page-account {

    ion-title{
        text-align: center;
    }

    #account-content-header{
        margin-top: 20px;
    }

    #account-content-main{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #account-content-bottom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 190px;
    }

    #button-current-card{
        background-color: #0072ba;
        height: 40px;
    }

    .refresh-button{
        float: right;
        margin-top: 20%;
    }

    .body-content-account{
        background-color: #FFF;
    }

    .ion-card-account-header-if-login{
        position: absolute;
        overflow: hidden;
        top: 10%;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .ion-card-account-header-if-not-login{
        position: absolute;
        overflow: hidden;
        margin-top: -90px;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .header-background{
        background-color: #44b4d5;
        width: 100%;
        height: 150px;
        border-radius: 5%;
    }

    .skeleton-loader{
        @keyframes animatedBar{
            0%{
                background-position: -406px 0;
            }
            100%{
                background-position: 0 0;
            }
        }

        .skeleton-image-circle-header{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            margin-top: 10px;
            height: 90px;
            width: 90px;
            border-radius: 100%;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }

        .skeleton-icon-edit{
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            border-radius: 100%;
            opacity: 0.5;
            height: 18px;
            width: 18px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }

        .p-0{
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            height: 1em;
            width: 40px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }

        .p-1{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            height: 1em;
            width: 100px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }

        .p-2{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            height: 1em;
            width: 80px;
            margin-top: 5px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }
        .p-3{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            height: 1em;
            width: 80px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }
        .p-4{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: lightgrey;
            position: relative;
            background: linear-gradient(to right, #dddddd , #EEEEEE);
            animation: animatedBar 2000ms linear infinite;
            opacity: 0.5;
            height: 1em;
            width: 80px;
            margin-top: 5px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                right: 0;
                bottom: 0;
                top: 0;
                background-color: white;
            }
        }

        p:after {
            width: 40%;
        }
    }

    .button-sign-out{
        float: right; 
        padding-right: 10px; 
        margin-top: -95px;
    }

    .button-edit-account{
        float: left;
        padding-left: 10px;
        margin-top: -95px;
    }

    .image-circle-header{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 90px;
        width: 90px;
        border-radius: 100%;
    }

    .ion-card-content-bottom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        width: 90%;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .image-in-card-if-not-login{
        height: 235px;
        width: 100%;
    }

    .icon-edit{
        height: 18px;
        width: 18px;
    }

    .ion-grid-action{
        position: absolute;
        bottom: 8.5%;
    }
}