<ion-header no-border>
  <ion-navbar color="main">
    <ion-title><small>{{ namaKursus }} Courses</small></ion-title>
    <ion-buttons end>
      <button ion-button clear class="refresh-button" (click)="ionViewWillEnter()"><ion-icon name="md-refresh" color="white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar class="ion-searchbar" [(ngModel)]="terms"></ion-searchbar>
</ion-header>
<ion-content class="ion-content-courses">
  <div *ngFor="let data of data | search : terms; let i = index;">
    <div *ngIf="response == 'Success'">
      <ion-card class="ion-card-courses">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div id="right-dashed-border">
                <img onerror="this.onerror=null;this.src='assets/main/user.png';" src="https://cors-anywhere.herokuapp.com/http://jabarbasithme.com/senao/upload/foto/guru/{{ data. foto }}" class="instructor-image">
              </div>
            </ion-col>
            <ion-col>
              <div>
                <p style="text-align: center; color: #222; font-size: 13px; white-space: normal;"><strong>Instructor</strong></p>
                <p style="text-align: center; color: #757575; font-size: 10px; white-space: normal;">{{ data.nama_dosen }}</p>
              </div>
            </ion-col>
            <ion-col>
              <div id="left-dashed-border">
                <p style="text-align: center; color: #222; font-size: 13px; white-space: normal;"><strong>Lesson</strong></p>
                <p style="text-align: center; color: #757575; font-size: 10px; white-space: normal;">{{ data.nama_materi }}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <div *ngIf="data.length > 0">
    <div *ngIf="(data | search: terms).length === 0">
      <img src="assets/main/search_data_not_found.png">
    </div>
  </div>
  <div *ngIf="response == 'NotLogin'">
    <div id="data-not-found-image-middle-position">
      <img src="assets/main/not_login.png" class="image-response-not-login">
      <button ion-button color="darkblue" class="button-response-not-login-action" (click)="doSignIn()"><p style="text-transform: capitalize;"><strong>Sign In</strong></p></button>
    </div>
  </div>
  <div *ngIf="response == 'Failed'">
    <div id="data-not-found-image-middle-position">
      <img src="assets/main/data_not_found.png">
    </div>
  </div>
  <div *ngIf="response == 'Error'">
    <div id="data-error-image-middle-position">
      <img src="assets/main/new_rto_background.png">
      <button ion-button color="darkblue" class="button-response-action" (click)="ionViewWillEnter()"><p style="text-transform: capitalize;"><strong>Try Again</strong></p></button>
    </div>
  </div>
  <div *ngIf="response == 'GettingData'">
    <div class="skeleton-loader">
      <ion-card class="ion-card-courses">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <img class="skeleton-instructor-image">
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img class="p-0">
                <img class="p-1">
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img class="p-2">
                <img class="p-3">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card class="ion-card-courses">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <img class="skeleton-instructor-image">
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img class="p-0">
                <img class="p-1">
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img class="p-2">
                <img class="p-3">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="darkblue">
    <div *ngIf="response == 'GettingData'">
      <div class="skeleton-loader">
        <img class="skeleton-center-bottom-button">
      </div>
    </div>
    <div *ngIf="response == 'Success'">
      <button ion-button color="lightblue" class="center-bottom-button" (click)="goToProgress()"><p style="text-transform: capitalize; color: #FFF; text-align: center;"><strong>See Progress</strong></p></button>
    </div>
  </ion-toolbar>
</ion-footer>